
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)

{

    <div class="jumbotron">
    <h1>Welcome @ViewBag.claimName</h1>
    <p class="lead">You can manage all your subscriptions to Azure in one Dashboard here!</p>
 
</div>

}
else
{
    <h2>Access denied!</h2>
}